orclapex-avatars .avatar-size--small {
    --avatar-size: 2.5rem;
    --font-size: small;
}

orclapex-avatars .avatar-size--medium {
    --avatar-size: 3.5rem;
    --font-size: medium;
}

orclapex-avatars .avatar-size--large {
    --avatar-size: 4.5rem;
    --font-size: large;
}

orclapex-avatars .avatars-container {
    --margin-left: calc(-1 * var(--avatar-size) / 4.5);
    display: flex;
}

orclapex-avatars a:not(:first-child) .avatar {
    margin-left: var(--margin-left);
}

orclapex-avatars .placeholder {
    background-color: rgb(174 174 174);
}

orclapex-avatars .avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    border: 2px solid var(--ut-component-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: var(--font-size);
}

orclapex-avatars a:hover .avatar,
orclapex-avatars a:focus .avatar {
    transform: scale(1.1);
    border-color: var(--ut-focus-outline-color);
}


